.title {
  color: blue;
  text-align: center;
}

.caixa {
  color: green;
  height: 40px;
  width: 155px;
  padding: 35px;
  margin: auto;
  background-color: aquamarine;
  border: 2px solid indigo;
}

